body {
    background-image: url('pexels-fauxels-3183198.jpg');
    background-size: cover;
    height: 95vh;
    background-repeat: no-repeat;
}
.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
  }
  .button-container button {
    margin: 0 80px; /* Adjust the margin as needed */
  }
  .heading {
    /* align-items: center; */
    margin: 20vw 0 20vw 0 20vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  .log_in {
   /* background-color: #EBBB91;     */
   /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
   background-color: rgba(255, 255, 255, 0.1);
   background-blend-mode: normal, multiply;
   border: none;
   color: rgb(11, 11, 11);
   padding: 17px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 10px 30%;
   border-radius: 15px ;
   width: 30vw;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   /* height: 70vh; */
  }
  input {
    width: 40%;
    color: rgb(5, 2, 0);
    background-color: #FDFDFF;
    border-radius: 5px;
    height: 20px;
    width: 250px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: whitesmoke;
  }
  th {
    background-color: #F2F2F2;
  }
  tr:hover {background-color: rgb(144, 241, 204);}

.actions {
  height: 20px;
}






