/* table, th, td {
    border:1px solid black;
  } */
/*   
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;  

  }
  th {
    background-color: #F2F2F2;
  }


tr:hover {background-color: rgb(124, 208, 214);} */

body {
    /* background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%); */
    /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
    background-image: url('pexels-fauxels-3183198.jpg');
    background-size: cover;
    height: 95vh;
}
.button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
  }
  .button-container button {
    margin: 0 80px; /* Adjust the margin as needed */
  }
  .heading {
    /* align-items: center; */
    margin: 20vw 0 20vw 0 20vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  .log_in {
   /* background-color: #EBBB91;     */
   /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
   background-color: rgba(255, 255, 255, 0.5);
   background-blend-mode: normal, multiply;
   border: none;
   color: rgb(11, 11, 11);
   padding: 17px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 10px 30%;
   border-radius: 15px ;
   width: 30vw;
   height: 70vh;
  }
  input {
    width: 40%;
    color: rgb(5, 2, 0);
    background-color: #FDFDFF;
    border-radius: 10px;
    height: 20px;
    width: 250px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    background-color: whitesmoke;
  }
  th {
    background-color: #F2F2F2;
  }
  tr:hover {background-color: rgb(105, 240, 188);}

.actions {
  height: 20px;
}






